html, body {
 	margin: 0;
 	padding: 0;
  	width: 100%;
  	height: 100%;
}

body {
	margin: 0px;
	background-color: #221b13;
	overflow-x: hidden;
}

header {
	position: sticky;
	top: 0px;
	background-color: #221b13;
	z-index: 500;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 0px 5px 20px #1a140e;
	display: flex;
	align-items: center;
}

section {
 	width: 100%;
}

footer {
	box-shadow: 0px 5px 30px #1a140e;
	padding-top: 20px;
	padding-left: 7vw;
	padding-right: 7vw;
}

footer h2 {
	color: #80170f;
}

footer p {
	color: #543717;
	display: flex;
  	justify-content: center;
	padding-top: 25px;
	padding-bottom: 10px;
}

.footer_links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 64vw;
}

.links {
	color: #875216;
	transition: 0.2s;
}

.links:hover {
	color: #c8771c;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

















h1 {
	color: #a1170d;
	font-family: "impact";
}

a {
	color: #c8771c;
	text-decoration: none;
}


.yellow {
	color: #c8771c;
}

.right {
	position: absolute;
  	right: 0px;
}

.right > a{
	margin-right: 50px;
}

.drunk {
	margin-top: 50px;
	max-width: 100%;
  	height: auto;
}

.red {
	background-color: #a1170d;
}

.sowhat {
	margin-top: 0px;
}

.border_centered {
	margin: 70px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 70px;
	display: flex;
	align-items: center;
	flex-direction: row
}

.portrait {
	margin: 100px;
	margin-top: 0px;
		
}

p {
	font-size: 1em;
	padding-right: 50px;
	text-align: justify;
}

button p {
	padding-right: 0px;
	margin: 0px;
	font-family: impact;
}

.rightside {
	position: relative;
	bottom: 40px;
	padding-left: 4vwpx;
	padding-right: 100px;

}

button {
	background-color: #a1170d;
  	border: 2px solid #c8771c;
  	padding: 20px 20px;
	color: #c8771c;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 50%;
	transition: 0.2s;
}

button:hover {
	color: #e9ca83;
  	background-color: #c8771c;
}


b {
	color: #c8771c;
}


.logo {
	height: 40px;
	width: auto;
	}

.insta {
	height: 30px;
	width: auto;
	}

.title {
	font-size: 4vw;
}

.margin {
	
}

.photo_gallery {
	padding-left: 10vw;
	padding-right: 10vw;
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-evenly;
  		
}

.pic {
	margin: 0.5vw;
	border-radius: 10px;
}

#img_see_more {
	transition: 0.5s;
}

#img_see_more:hover {
	transform: scale(1.02);
}







/* ------------------------------------------------------------ */



/* Desktop */
@media (max-width: 1440px) {

}

/* Tablet */
@media (max-width: 1024px) {
	
	.border_centered {
		margin: 70px;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-top: 70px;
		display: flex !important;
		align-items: center !important;
		flex-direction: column !important;
	}
	
	.rightside {
		position: relative;
		bottom: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.footer_links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-right: 50vw !important;
	}


}

/* Phone */
@media (max-width: 600px) {

	.border_centered {
		margin: 70px;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-top: 70px;
		display: flex !important;
		align-items: center !important;
		flex-direction: column !important;
	}
	
	.portrait {
		margin: 0px;
		margin-top: 0px;
	}

	.rightside {
		position: relative;
		bottom: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}

	p {
		font-size: 1em;
		padding-right: 0px;
		margin: 0px;
		text-align: justify;
	}

	.logo {
		height: 30px !important;
		width: auto;
	}

	.insta {
		height: 25px;
		width: auto;
	}

	.footer_links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-right: 34vw !important;
	}




}


/* ------------------------------------------------------------ */









exempleToCenter {
	display: flex;			Flex
	align-items: center;		Vertical
  	justify-content: center;	Horizontal
}